.downloads {
  padding: 1em 2em;
}

.download-category {
  margin-bottom: 3em;
  text-align: left;
}

.download-category h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 1em;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5em;
}

.download-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.download-category ul li {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.download-category ul li a {
  text-decoration: none;
  color: #3a4856;
  font-size: 1.2em;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.download-category ul li a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.download-icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
