footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  width: 100%;
  box-shadow: 0 -4px 2px -2px gray;
  position: relative;
  margin-top: auto;
}

footer p {
  margin: 0;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-icon svg {
  fill: #fff;
  transition: transform 0.3s, fill 0.3s;
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.social-icon svg:hover {
  transform: scale(1.1);
  fill: #ff9900;
}
