#menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 1024px) {
  #menu-toggle {
    display: block;
  }
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  main {
    width: 100%;
    padding: 0;
  }

  section {
    width: 100%;
    padding: 0 1em;
    margin: 0 auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333; /* Ajuste a cor de fundo conforme necessário */
  }

  header h1 {
    color: white;
    margin: 0;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    text-align: center;
    margin: 0.5em 0;
  }

  #menu-toggle.open + ul {
    display: flex;
  }

  main {
    width: 100%;
    padding: 5em 1em;
  }

  .programs {
    margin-top: 2em;
  }

  .contact-title {
    padding-top: 1em;
  }

  .form-group input,
  .form-group textarea {
    max-width: 320px;
    margin: 0;
    padding: 0;
  }

  .posts-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .post-card img {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .title-article {
    display: block;
    text-align: center;
    margin-top: 0;
  }
  .article-image {
    max-width: 300px;
    height: auto;
    margin-bottom: 1em;
  }

  .banner,
  .banner-content {
    display: none;
  }
  header {
    padding: 0.5em 1em;
  }

  header h1 {
    font-size: 1.5em;
  }

  nav ul {
    flex-direction: column;
    margin-top: 0;
  }

  nav ul li {
    margin: 0.5em 0;
  }

  main {
    padding: 0;
  }

  section {
    width: 90%;
  }

  .banner-content h2 {
    font-size: 2em;
  }

  .banner-content p {
    font-size: 1em;
  }

  .posts-grid {
    grid-template-columns: 1fr;
  }

  .post-card img {
    height: 120px;
  }

  .filter-search {
    flex-direction: column;
    align-items: stretch;
  }

  .filter,
  .search {
    margin: 0.5em 0;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.2em;
  }

  nav ul li a {
    font-size: 1em;
  }

  main {
    width: 100%;
    padding: 3em 1em;
  }

  .banner-content h2 {
    font-size: 1.5em;
  }

  .banner-content p {
    font-size: 0.9em;
  }

  .posts-grid {
    grid-template-columns: 1fr;
  }

  .post-card h3 {
    font-size: 1.2em;
  }

  .post-card p {
    font-size: 0.9em;
  }

  .filter-search {
    flex-direction: column;
  }

  .filter,
  .search {
    margin: 0.5em 0;
  }
}
